@model IEnumerable<ShopDomain.Model.Category>

@{
    ViewData["Title"] = "Категорії";
}

<h1>Категорії Списочок)</h1>

@if (User.IsInRole("Admin"))
{

    <p>
        <a asp-action="Create" class="btn btn-sm btn-primary">Створити нову категорію</a>
    </p>

    <a asp-controller= "Products" asp-action="Import" class="btn btn-outline-secondary">Імпорт Excel</a>
    <a asp-controller= "Products" asp-action="Export" class="btn btn-outline-secondary">Експорт Excel</a>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Переглянути товари</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Змінити</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Видалити</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
